html {
    height: 100%
}
body {
    display: flexbox;
    margin: 0 auto;
}

iframe {
    box-sizing: border-box;
    position: relative;
    width: max-content;
}
.main {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 75%;
    min-width: 25%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    /*margin: 0 auto;*/
}

.navbar {
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

footer {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    flex-shrink: 0;
}

#search {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}